In [1]:
import pandas as pd
import numpy as np
from IPython.display import clear_output

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
atendimentos_df = pd.read_csv('atendimentos_5_anos.csv',sep=';',parse_dates=True,encoding='ISO-8859-1')

In [4]:
print("Shape: ",atendimentos_df.shape)

Shape:  (60647, 6)

In [5]:
print(atendimentos_df.dtypes)

SEQ_REQUISICAO          int64
SEQ_REQUISICAO_ITEM     int64
DAT_NASCIMENTO         object
FLG_GESTANTE           object
FLG_SEXO               object
SEQ_CID                 int64
dtype: object

In [6]:
atendimentos_df.head()

,SEQ_REQUISICAO,SEQ_REQUISICAO_ITEM,DAT_NASCIMENTO,FLG_GESTANTE,FLG_SEXO,SEQ_CID
0,1935809,6888911,03/11/1980,N,F,21253
1,1939824,6901435,14/04/1942,N,M,20172
2,1939818,6901412,10/12/1918,N,F,19048
3,1940819,6904367,05/06/1946,N,F,15719
4,1941056,6905087,05/09/2009,N,M,22554

In [7]:
exames_detalhesI_df = pd.read_csv('resultados_exames_detalhes_5_anos_I.csv',sep=';',encoding='ISO-8859-1')
print("Shape: ",exames_detalhesI_df.shape)

exames_detalhesII_df = pd.read_csv('resultados_exames_detalhes_5_anos_II.csv',sep=';',encoding='ISO-8859-1')
print("Shape: ",exames_detalhesII_df.shape)

exames_detalhesIII_df = pd.read_csv('resultados_exames_detalhes_5_anos_III.csv',sep=';',encoding='ISO-8859-1')
print("Shape: ",exames_detalhesIII_df.shape)

Shape:  (2705054, 6)
Shape:  (2773020, 6)
Shape:  (3598117, 6)

In [8]:
resultados_df = pd.concat([exames_detalhesI_df,exames_detalhesII_df,exames_detalhesIII_df])

In [9]:
print(resultados_df.dtypes)

SEQ_REQUISICAO          int64
SEQ_REQUISICAO_ITEM     int64
SEQ_EXAME_DETALHE       int64
NOM_EXAME_DETALHE      object
DES_UNIDADE_MEDIDA     object
VLR_RESULTADO          object
dtype: object

In [10]:
print("Shape: ",resultados_df.shape)

Shape:  (9076191, 6)

In [11]:
resultados_df.head(24)

,SEQ_REQUISICAO,SEQ_REQUISICAO_ITEM,SEQ_EXAME_DETALHE,NOM_EXAME_DETALHE,DES_UNIDADE_MEDIDA,VLR_RESULTADO
0,1532361,5475730,2472,Mielocitos............,%,00
1,1532361,5475730,2473,Metamielocitos....,%,00
2,1532361,5475730,2474,Bastonetes..........,%,00
3,1532361,5475730,2475,Segmentados......,%,"66,7"
4,1532361,5475730,2476,Eosinofilos...........,%,"0,80"
5,1532361,5475730,2477,Basofilos..............,%,"0,30"
6,1532361,5475730,2478,Linfocitos Tipicos.,%,"25,30"
7,1532361,5475730,2479,Linfocitos Atipicos,%,00
8,1532361,5475730,2480,Monocitos............,%,"6,90"
9,1532361,5475730,2484,Total,NaN,100
10,1532361,5475730,2509,OBS 3,NaN,NaN
11,1532361,5475730,2510,Plaquetas,/mm3,331.000
12,1532361,5475730,2511,OBS 1:,NaN,NaN
13,1532361,5475730,3407,OBS 1:,NaN,NaN
14,1532361,5475730,3408,OBS 2:,NaN,NaN
15,1532361,5475730,3441,OBS 3:,NaN,NaN
16,1532361,5475730,3442,OBS 2:,NaN,NaN
17,1532361,5475730,2483,Comentarios,NaN,NEUTROFILOS: Ausencia de alteracoes degenerati...
18,1532362,5475732,2405,Eritrocitos,mm3,"4,90"
19,1532362,5475732,2406,Hemoglobina,g/dl,"15,10"
20,1532362,5475732,2407,Hematocrito,%,"43,60"
21,1532362,5475732,2408,VCM,fl,"88,98"
22,1532362,5475732,2409,CHbCM,%,"34,63"
23,1532362,5475732,2410,HbCM,pg,"30,82"

In [12]:
cids_df = pd.read_csv('cids.csv',sep=';',encoding='ISO-8859-1')

In [13]:
cids_df.set_index('SEQ_CID',inplace=True)

In [14]:
print("Shape: ",cids_df.shape)

Shape:  (12367, 4)

In [15]:
print(cids_df.dtypes)

COD_CID           object
NOM_CID           object
DES_CAPITULO      object
COD_ABRAGENCIA    object
dtype: object

In [16]:
cids_df.head()

,COD_CID,NOM_CID,DES_CAPITULO,COD_ABRAGENCIA
SEQ_CID,,,,
15661,A000,"Cólera devida a Vibrio Cholerae 01, biótipo Ch...",Algumas doenças infecciosas e parasitárias,A00-B99
15662,A001,"Cólera devida a Vibrio Cholerae 01, biótipo El...",Algumas doenças infecciosas e parasitárias,A00-B99
15663,A009,Cólera não especificada,Algumas doenças infecciosas e parasitárias,A00-B99
15664,A010,Febre tifóide,Algumas doenças infecciosas e parasitárias,A00-B99
15665,A011,Febre paratifóide A,Algumas doenças infecciosas e parasitárias,A00-B99

In [17]:
atendimentos_df = atendimentos_df.join(cids_df,on=['SEQ_CID'],lsuffix='1',how='inner')

In [18]:
atendimentos_df['GRUPO_CID'] = np.where(atendimentos_df['COD_CID'].str.len() <= 3,
                                  atendimentos_df['COD_CID'],
                                  atendimentos_df['COD_CID'].str.slice(start=0,stop=3))

In [19]:
atendimentos_df.head()

,SEQ_REQUISICAO,SEQ_REQUISICAO_ITEM,DAT_NASCIMENTO,FLG_GESTANTE,FLG_SEXO,SEQ_CID,COD_CID,NOM_CID,DES_CAPITULO,COD_ABRAGENCIA,GRUPO_CID
0,1935809,6888911,03/11/1980,N,F,21253,O16,HIPERTENSAO MATERNA NAO ESPECIFICADA,"Gravidez, parto e puerpério",O00-O99,O16
89,1936076,6889748,15/02/1990,N,F,21253,O16,HIPERTENSAO MATERNA NAO ESPECIFICADA,"Gravidez, parto e puerpério",O00-O99,O16
154,1940457,6903314,21/12/1989,N,F,21253,O16,HIPERTENSAO MATERNA NAO ESPECIFICADA,"Gravidez, parto e puerpério",O00-O99,O16
173,1947341,6925035,31/05/1980,N,F,21253,O16,HIPERTENSAO MATERNA NAO ESPECIFICADA,"Gravidez, parto e puerpério",O00-O99,O16
255,1805845,6464765,07/04/1984,N,F,21253,O16,HIPERTENSAO MATERNA NAO ESPECIFICADA,"Gravidez, parto e puerpério",O00-O99,O16

In [20]:
atendimentos_df.to_csv('atendimentos.csv',sep=';',index=False)

In [21]:
resultados_df = resultados_df.set_index('SEQ_REQUISICAO_ITEM',drop=False)\
                             .join(atendimentos_df[['SEQ_REQUISICAO_ITEM','SEQ_REQUISICAO']]\
                                    .drop('SEQ_REQUISICAO',axis=1)\
                                    .set_index('SEQ_REQUISICAO_ITEM'),how='inner')

In [22]:
resultados_df.head()

,SEQ_REQUISICAO,SEQ_REQUISICAO_ITEM,SEQ_EXAME_DETALHE,NOM_EXAME_DETALHE,DES_UNIDADE_MEDIDA,VLR_RESULTADO
SEQ_REQUISICAO_ITEM,,,,,,
6112349,1704127,6112349,2405,Eritrocitos,mm3,"2,26"
6112349,1704127,6112349,2406,Hemoglobina,g/dl,"7,2"
6112349,1704127,6112349,2407,Hematocrito,%,"21,40"
6112349,1704127,6112349,2408,VCM,fl,"94,70"
6112349,1704127,6112349,2409,CHbCM,%,"33,80"

In [23]:
seq_requisicao_itens = resultados_df['SEQ_REQUISICAO_ITEM'].unique()
seq_requisicao_itens.shape

(55866,)

In [24]:
resultados_df['NOM_EXAME_DETALHE'] = resultados_df['NOM_EXAME_DETALHE']\
                                        .apply(lambda x: x.replace('.',''))

In [25]:
nomes_exame_detalhe = resultados_df['NOM_EXAME_DETALHE'].unique()

In [26]:
dets_results_df = pd.DataFrame(seq_requisicao_itens,columns=['SEQ_REQUISICAO_ITEM'])
dets_results_df[nomes_exame_detalhe]= np.nan

In [27]:
dets_results_df.shape

(55866, 24)

In [28]:
total_passos = dets_results_df.shape[0]
passo = 1

for index, row in dets_results_df.iterrows():
    t = resultados_df.loc[row['SEQ_REQUISICAO_ITEM']].T        
    dets_results_df.loc[index,list(t.loc['NOM_EXAME_DETALHE'].values)] = t.loc['VLR_RESULTADO'].values
    passo = passo + 1
    clear_output(wait=True)
    print('Passo {} de {}. Requisicao item {}'.format(passo,total_passos,row['SEQ_REQUISICAO_ITEM']))

Passo 55867 de 55866. Requisicao item 10581717.0

In [59]:
dets_results_df.to_csv('detalhes_resultados.csv',index=False,sep=';');

In [60]:
print(dets_results_df.columns)

Index(['SEQ_REQUISICAO_ITEM', 'Eritrocitos', 'Hemoglobina', 'Hematocrito',
       'VCM', 'CHbCM', 'HbCM', 'Comentarios', 'LEUCOCITOS', 'Mielocitos',
       'Metamielocitos', 'Bastonetes', 'Segmentados', 'Eosinofilos',
       'Basofilos', 'Linfocitos Tipicos', 'Linfocitos Atipicos', 'Monocitos',
       'Total', 'OBS 3', 'Plaquetas', 'OBS 1:', 'OBS 2:', 'OBS 3:'],
      dtype='object')

In [61]:
print(dets_results_df.dtypes)

SEQ_REQUISICAO_ITEM     int64
Eritrocitos            object
Hemoglobina            object
Hematocrito            object
VCM                    object
CHbCM                  object
HbCM                   object
Comentarios            object
LEUCOCITOS             object
Mielocitos             object
Metamielocitos         object
Bastonetes             object
Segmentados            object
Eosinofilos            object
Basofilos              object
Linfocitos Tipicos     object
Linfocitos Atipicos    object
Monocitos              object
Total                  object
OBS 3                  object
Plaquetas              object
OBS 1:                 object
OBS 2:                 object
OBS 3:                 object
dtype: object

In [62]:
print(dets_results_df.shape)

(55866, 24)

In [63]:
dets_results_df.head()

,SEQ_REQUISICAO_ITEM,Eritrocitos,Hemoglobina,Hematocrito,VCM,CHbCM,HbCM,Comentarios,LEUCOCITOS,Mielocitos,Metamielocitos,Bastonetes,Segmentados,Eosinofilos,Basofilos,Linfocitos Tipicos,Linfocitos Atipicos,Monocitos,Total,OBS 3,Plaquetas,OBS 1:,OBS 2:,OBS 3:
0,6112349,"2,26","7,2","21,40","94,70","33,80","32,50","Normocitica, normocromica",7980,0,0,0,82,"0,00","0,00","13,00",00,"5,00",100,NaN,67000,Neutrofilos: Raros com granulacoes toxicas finas.,NaN,NaN
1,6161419,"5,45","16,40","46,00","84,40","35,70","30,10","Normocitica, normocromica",7640,0,0,0,"69,5","1,00","0,40","22,80",0,"6,30",100,NaN,446000,NaN,NaN,NaN
2,6211682,"4,48","14,20","41,00","91,52","34,63","31,7",NEUTROFILOS: Ausencia de alteracoes degenerati...,8.750,00,00,02,73,02,00,16,00,07,100,NaN,330.000,NaN,NaN,NaN
3,6237378,"5,03","15,90","42,90","85,29","37,06","31,61",NEUTROFILOS: Ausencia de alteracoes degenerati...,10.850,00,00,00,60,01,00,32,00,07,100,NaN,364.000,Plaquetas: Adequadas em lamina.,NaN,NaN
4,6333551,"3,58","10,20","31,20","87,15","32,69","28,49",Leve microcitose.,8.590,00,00,00,"71,3","1,00","0,10","22,90",00,"4,70",100,NaN,309.000,NaN,NaN,NaN

In [64]:
features_exclusao = ['OBS 3',
                     'OBS 1:',
                     'OBS 2:',
                     'OBS 3:',
                     'Comentarios']

dets_results_df = dets_results_df.drop(features_exclusao,axis=1)

In [65]:
dets_results_df.head()

,SEQ_REQUISICAO_ITEM,Eritrocitos,Hemoglobina,Hematocrito,VCM,CHbCM,HbCM,LEUCOCITOS,Mielocitos,Metamielocitos,Bastonetes,Segmentados,Eosinofilos,Basofilos,Linfocitos Tipicos,Linfocitos Atipicos,Monocitos,Total,Plaquetas
0,6112349,"2,26","7,2","21,40","94,70","33,80","32,50",7980,0,0,0,82,"0,00","0,00","13,00",00,"5,00",100,67000
1,6161419,"5,45","16,40","46,00","84,40","35,70","30,10",7640,0,0,0,"69,5","1,00","0,40","22,80",0,"6,30",100,446000
2,6211682,"4,48","14,20","41,00","91,52","34,63","31,7",8.750,00,00,02,73,02,00,16,00,07,100,330.000
3,6237378,"5,03","15,90","42,90","85,29","37,06","31,61",10.850,00,00,00,60,01,00,32,00,07,100,364.000
4,6333551,"3,58","10,20","31,20","87,15","32,69","28,49",8.590,00,00,00,"71,3","1,00","0,10","22,90",00,"4,70",100,309.000

In [66]:
dets_results_df.isnull().sum()

SEQ_REQUISICAO_ITEM       0
Eritrocitos               6
Hemoglobina               6
Hematocrito               6
VCM                       5
CHbCM                     5
HbCM                      5
LEUCOCITOS                8
Mielocitos             1142
Metamielocitos         1108
Bastonetes              836
Segmentados               7
Eosinofilos             140
Basofilos               808
Linfocitos Tipicos       11
Linfocitos Atipicos    1085
Monocitos                10
Total                   209
Plaquetas                10
dtype: int64

In [67]:
dets_results_df = dets_results_df[dets_results_df['Mielocitos'].notnull()]

In [68]:
dets_results_df.isnull().sum()

SEQ_REQUISICAO_ITEM     0
Eritrocitos             4
Hemoglobina             3
Hematocrito             3
VCM                     2
CHbCM                   2
HbCM                    2
LEUCOCITOS              4
Mielocitos              0
Metamielocitos          5
Bastonetes              3
Segmentados             2
Eosinofilos            10
Basofilos              26
Linfocitos Tipicos      1
Linfocitos Atipicos    26
Monocitos               1
Total                  21
Plaquetas               8
dtype: int64

In [71]:
dets_results_df.shape

(54724, 19)

In [72]:
dets_results_df = dets_results_df.dropna()

In [74]:
dets_results_df.shape

(54674, 19)

In [75]:
dets_results_df.head()

,SEQ_REQUISICAO_ITEM,Eritrocitos,Hemoglobina,Hematocrito,VCM,CHbCM,HbCM,LEUCOCITOS,Mielocitos,Metamielocitos,Bastonetes,Segmentados,Eosinofilos,Basofilos,Linfocitos Tipicos,Linfocitos Atipicos,Monocitos,Total,Plaquetas
0,6112349,"2,26","7,2","21,40","94,70","33,80","32,50",7980,0,0,0,82,"0,00","0,00","13,00",00,"5,00",100,67000
1,6161419,"5,45","16,40","46,00","84,40","35,70","30,10",7640,0,0,0,"69,5","1,00","0,40","22,80",0,"6,30",100,446000
2,6211682,"4,48","14,20","41,00","91,52","34,63","31,7",8.750,00,00,02,73,02,00,16,00,07,100,330.000
3,6237378,"5,03","15,90","42,90","85,29","37,06","31,61",10.850,00,00,00,60,01,00,32,00,07,100,364.000
4,6333551,"3,58","10,20","31,20","87,15","32,69","28,49",8.590,00,00,00,"71,3","1,00","0,10","22,90",00,"4,70",100,309.000

In [76]:
dets_results_df.isnull().sum()

SEQ_REQUISICAO_ITEM    0
Eritrocitos            0
Hemoglobina            0
Hematocrito            0
VCM                    0
CHbCM                  0
HbCM                   0
LEUCOCITOS             0
Mielocitos             0
Metamielocitos         0
Bastonetes             0
Segmentados            0
Eosinofilos            0
Basofilos              0
Linfocitos Tipicos     0
Linfocitos Atipicos    0
Monocitos              0
Total                  0
Plaquetas              0
dtype: int64

In [ ]:
dets_results_df['Plaquetas'] = dets_results_df['Plaquetas'].str.replace('\D+', '')

In [77]:
dets_results_df = dets_results_df.drop(
                    list(dets_results_df[(dets_results_df['Eritrocitos']=='--,--')
                                          |(dets_results_df['Eosinofilos']=='--,--')
                                          |(dets_results_df['Mielocitos']==',')
                                          |(dets_results_df['Total']=='.')
                                          |(dets_results_df['VCM']=='+')
                                          |(dets_results_df['VCM']=='89.0<ENTER>')
                                          |(dets_results_df['CHbCM']=='36,6034,80')
                                          |(dets_results_df['CHbCM']=='32,,3')
                                          |(dets_results_df['Total']=='*')
                                          |(dets_results_df['Plaquetas']=='')].index))

In [82]:
dets_results_df[dets_results_df['Plaquetas']==''].shape

(210, 19)

In [8]:
def converter_float(x):
    if x.name == 'SEQ_REQUISICAO_ITEM':
        return x
    elif x.name == 'LEUCOCITOS':
        return x.str.replace('.','').str.replace(',','').astype('float64')
    else :       
        return x.str.replace(',','.').astype('float64')

In [11]:
dets_results_df = dets_results_df.apply(converter_float, axis=0)

In [12]:
dets_results_df.dtypes

SEQ_REQUISICAO_ITEM      int64
Eritrocitos            float64
Hemoglobina            float64
Hematocrito            float64
VCM                    float64
CHbCM                  float64
HbCM                   float64
LEUCOCITOS             float64
Mielocitos             float64
Metamielocitos         float64
Bastonetes             float64
Segmentados            float64
Eosinofilos            float64
Basofilos              float64
Linfocitos Tipicos     float64
Linfocitos Atipicos    float64
Monocitos              float64
Total                  float64
Plaquetas              float64
dtype: object

In [19]:
dets_results_df.shape

(54457, 19)

In [18]:
dets_results_df.isnull().sum()

SEQ_REQUISICAO_ITEM    0
Eritrocitos            0
Hemoglobina            0
Hematocrito            0
VCM                    0
CHbCM                  0
HbCM                   0
LEUCOCITOS             0
Mielocitos             0
Metamielocitos         0
Bastonetes             0
Segmentados            0
Eosinofilos            0
Basofilos              0
Linfocitos Tipicos     0
Linfocitos Atipicos    0
Monocitos              0
Total                  0
Plaquetas              0
dtype: int64

In [ ]:
dets_results_df.to_csv('detalhes_resultados_pre_processados.csv',index=False,sep=';')